@tailwind base;
@tailwind components;
@tailwind utilities;


/* Rest of your CSS */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Custom animation duration for background zoom */
.duration-10000 {
  transition-duration: 10000ms;
}

input,
select,
textarea {
  color: #333;
  /* Or any dark color that works with your design */
}

input,
select,
textarea {
  color: rgb(var(--foreground-rgb)) !important;
  /* Use your theme color */
}

/* For dark mode specifically */
@media (prefers-color-scheme: dark) {

  input,
  select,
  textarea {
    color: #333 !important;
    /* Force dark text on inputs */
    background-color: #fff;
    /* Light background for better contrast */
  }
}